<div id="label">
Redirecting to Geidea ....
</div>



<script src="https://www.merchant.geidea.net/hpp/geideapay.min.js"></script>
<script type="text/javascript">
	let chargeRequest = {};
	chargeRequest.amount = '{{ paymentObject['amount'] }}';
	chargeRequest.currency = '{{ paymentObject['currency'] }}';
	chargeRequest.callbackUrl = '{{ paymentObject['callbackUrl'] }}';
	chargeRequest.merchantReferenceId = '{{ paymentObject['merchantReferenceId'] }}';
	chargeRequest.language = '{{ paymentObject['language'] }}';
    chargeRequest.platform = {};
    chargeRequest.platform.Name = 'Open Cart';
    chargeRequest.platform.Version = '{{ VERSION }}';
    chargeRequest.platform.PluginVersion = '1.1.1';
    chargeRequest.platform.type = 'OpenCart E-Commerce Platform';
    chargeRequest.platform.IntegrationType = 'Plugin';

    let merchantKey = '{{ paymentObject['merchantKey']}}';
    let onSuccess = successCallBack;
    let onError = failureCallBack;
    let onCancel = failureCallBack;
    
    console.log(chargeRequest);

	const payment = new GeideaApi(merchantKey, onSuccess, onError, onCancel);
	payment.configurePayment(chargeRequest);
	payment.startPayment();

	setTimeout(function() {
		document.getElementById("label").style.visibility = 'hidden';
	}, 1000); // <-- time in milliseconds


function successCallBack(data) {
    console.log('handle successful callback as desired, data', data);
    const parseResult = new DOMParser().parseFromString('{{ paymentObject['returnUrl'] }}', "text/html");
    const returnUrl = parseResult.documentElement.textContent;
    document.location.href = returnUrl;
}

function failureCallBack(data) {
    console.log('handle failure callback as desired, data', data);
    document.location.href = '{{ paymentObject['cancelUrl'] }}';
}
</script>