{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form_payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary" onclick="dosubmit()"><i class="fas fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form_payment" enctype="multipart/form-data" action="{{ save }}" method="post" data-oc-toggle="ajax">
            {# Enabled / Disabled #}
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-2">
                    <select name="payment_geidea_status" id="input-status" class="form-control">
                        {% if payment_geidea_status %}
                            <option value="1" selected="selected">{{ text_enabled }}</option>
                            <option value="0">{{ text_disabled }}</option>
                        {% else %}
                            <option value="1">{{ text_enabled }}</option>
                            <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            {# Live / Sandbox #}
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-2">
                    <select name="payment_geidea_sandbox" id="input-status" class="form-control">
                        {% if payment_geidea_status %}
                            <option value="1" selected="selected">{{ text_sandbox }}</option>
                            <option value="0">{{ text_live }}</option>
                        {% else %}
                            <option value="1">{{ text_sandbox }}</option>
                            <option value="0" selected="selected">{{ text_live }}</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            {# Sandbox Public Key#}
            <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="payment_geidea_public_key_sandbox"><span data-toggle="tooltip" title="{{ entery_public_key_sandbox }}">{{ entery_public_key_sandbox }}</span>
                </label>
                <div class="col-sm-10">
                  <input id="geidea-public-key-sandbox" class="form-control" type="text" name="payment_geidea_public_key_sandbox" value="{{ payment_geidea_public_key_sandbox }}" placeholder="{{ entery_public_key_sandbox }}" size="60" required="required">
                </div>
            </div>

            {# Sandbox API Password#}
            <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="payment_geidea_api_password_sandbox"><span data-toggle="tooltip" title="{{ entery_api_secret_key_sandbox }}">{{ entery_api_secret_key_sandbox }}</span>
                </label>
                <div class="col-sm-10">
                    <input id="geidea-public-key-sandbox" class="form-control" type="text" name="payment_geidea_api_password_sandbox" value="{{ payment_geidea_api_password_sandbox }}" placeholder="{{ entery_api_secret_key_sandbox }}" size="60" required="required">
                </div>
            </div>

            {# Live Public Key#}
            <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="payment_geidea_public_key_live"><span data-toggle="tooltip" title="{{ entery_public_key_live }}">{{ entery_public_key_live }}</span>
                </label>
                <div class="col-sm-10">
                    <input id="geidea-public-key-live" class="form-control" type="text" name="payment_geidea_public_key_live" value="{{ payment_geidea_public_key_live }}" placeholder="{{ entery_public_key_live }}" size="60" required="required">
                </div>
            </div>

            {# Live API Password#}
            <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="payment_geidea_api_password_sandbox"><span data-toggle="tooltip" title="{{ entery_api_secret_key_live }}">{{ entery_api_secret_key_live }}</span>
                </label>
                <div class="col-sm-10">
                    <input id="geidea-public-key-sandbox" class="form-control" type="text" name="payment_geidea_api_password_sandbox" value="{{ payment_geidea_api_password_sandbox }}" placeholder="{{ entery_api_secret_key_live }}" size="60" required="required">
                </div>
            </div>

            {# Live API Password#}
            <div class="row mb-3 required">
                <label class="col-sm-2 col-form-label" for="payment_geidea_title"><span data-toggle="tooltip" title="{{ entery_method_title }}">{{ entery_method_title }}</span>
                </label>
                <div class="col-sm-10">
                    <input id="accept-method-name" class="form-control" type="text" name="payment_geidea_title" value="{{ payment_geidea_title }}" placeholder="{{ payment_geidea_title }}" size="60" required="required">
                </div>
            </div>


        {# Sort Order #}
        <div class="row mb-3">
           <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
           <div class="col-sm-10">
              <input type="text" name="payment_geidea_sort_order" value="{{ payment_geidea_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
           </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script>
    function dosubmit() {
        var merchant_id = $('#accept-merchant').val();
        var geidea_public_key_sandbox = $('#geidea-public-key-sandbox').val();
        var geidea_public_key_live = $('#geidea-public-key-live').val();
        var geidea_api_password_sandbox = $('#geidea-api-password-sandbox').val();
        var geidea_api_password_live = $('#geidea-api-password-live').val();
        var method_name = $('#accept-method-name').val();
        if (merchant_id === '' || merchant_id === null) {
            $('#accept-merchant').focus();
            return false;
        }
        if (geidea_public_key_sandbox === '' || geidea_public_key_sandbox === null) {
            $('#geidea-public-key-sandbox').focus();
            return false;
        }
        if (geidea_public_key_live === '' || geidea_public_key_live === null) {
            $('#geidea-public-key-live').focus();
            return false;
        }
        if (geidea_api_password_live === '' || geidea_api_password_live === null) {
            $('#geidea-api-password-live').focus();
            return false;
        }
        if (method_name === '' || method_name === null) {
            $('#accept-method-name').focus();
            return false;
        }
        document.getElementById("form-payment").submit();
    }
</script>